<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Actualización de Datos Unique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class=" ">
  
<div class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
            <div class="col-lg-6 text-right">
                <div class="header-fecha">
                 <ul>
                     <li>Fecha : </li>
                 </ul>
                </div>
            </div>
        </div>
    </div>
</div> 
        @RenderBody()
        

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/pace.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
